<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--自动扫描-->
    <context:component-scan base-package="com.kaishengit">
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    </context:component-scan>

    <context:property-placeholder location="classpath*:config.properties" />

    <bean id="basicDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.userName}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxIdle" value="${jdbc.max}" />
        <property name="minIdle" value="${jdbc.min}" />
        <property name="maxWaitMillis" value="${jdbc.wait}" />
        <property name="initialSize" value="${jdbc.initSize}" />
    </bean>


    <!--Hibernate的SessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="basicDataSource" />
        <property name="hibernateProperties">
            <props>
                <!--数据库方言-->
                <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--显示sql-->
                <prop key="show_sql">true</prop>
            </props>
        </property>
        <property name="packagesToScan" value="com.kaishengit.pojo" />
    </bean>


    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />

    </bean>

    <!--支持注解的事务-->
    <tx:annotation-driven transaction-manager="transactionManager" />

</beans>