<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--当不使用接口的时候，在方法里调用时是 namespace + id  eg ： 在test/MyBatisTestCase.class类中-->
<!--当时使用接口的时候，需要创建完全限定名和namespace相同的接口 eg: 查看test/StudentMapperTestCase.class -->
<mapper namespace="com.kaishengit.mappers.StudentMapper">
    <!--
        parameterType : 传入参数类型
        resultType : 返回值类型
        当没有在MyBaties-config.xml中设置别名的时候，需要使用完全限定名
        eg :
        parameterType="com.kaishengit.entity.Student"
        resultType="com.kaishengit.entity.Student"
        获得自动增长的主键的方法，必须如此
        useGeneratedKeys="true" : 使用自动增长的主键
        keyProperty="id"    将主键复制给student的属性Id

     -->

    <insert id="save" parameterType="com.kaishengit.entity.Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_student (
            stu_name,
            stu_age,
            stu_address
        )
        VALUES
            (#{stuName}, #{stuAge}, #{stuAddress})
    </insert>

    <select id="findAll" resultType="Student">
      SELECT
        id,
        stu_name,
        stu_age,
        stu_address
      FROM
        t_student
    </select>

    <select id="findById" parameterType="int" resultType="Student">
       SELECT
        id,
        stu_name,
        stu_age,
        stu_address
      FROM
        t_student
       WHERE
        id = #{id}
    </select>

    <update id="updateName" parameterType="Student">

        UPDATE t_student
            SET stu_name = #{stuName},
             stu_age = #{stuAge},
             stu_address = #{stuAddress}
            WHERE
                id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE
        FROM
            t_student
        WHERE
            id = #{id}
    </delete>
    <!--批量插入 用forEach
        collection="studentList" 传入的List参数名
        item="Student" 传入的list集合元素类型的名字，如果设置别名，
        用别名吗如果没有，用完全限定名
        separator="," 每循环一次加上标点，最后一个自动抹去
    -->
    <insert id="saveSome" parameterType="list">
       INSERT INTO t_student (
       stu_name,
       stu_age,
       stu_address
       )
       VALUES
       <foreach collection="studentList" item="Student" separator=",">

           (#{Student.stuName}, #{Student.stuAge}, #{Student.stuAddress})
       </foreach>

    </insert>


</mapper>