<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.crm.mappers.TaskMapper">
  <resultMap id="BaseResultMap" type="com.kaishengit.crm.entity.Task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="remind_time" jdbcType="TIMESTAMP" property="remindTime" />
    <result column="done" jdbcType="INTEGER" property="done" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="sale_id" jdbcType="INTEGER" property="saleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kaishengit.crm.entity.Task">
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, finish_time, remind_time, done, account_id, cust_id, sale_id, create_time
  </sql>
  <sql id="Blob_Column_List">
    title
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.kaishengit.crm.example.TaskExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.kaishengit.crm.example.TaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaishengit.crm.example.TaskExample">
    delete from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaishengit.crm.entity.Task">
    insert into t_task (id, finish_time, remind_time, 
      done, account_id, cust_id, 
      sale_id, create_time, title
      )
    values (#{id,jdbcType=INTEGER}, #{finishTime,jdbcType=TIMESTAMP}, #{remindTime,jdbcType=TIMESTAMP}, 
      #{done,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, 
      #{saleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{title,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kaishengit.crm.entity.Task" useGeneratedKeys="true" keyProperty="id">
    insert into t_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="remindTime != null">
        remind_time,
      </if>
      <if test="done != null">
        done,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="saleId != null">
        sale_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remindTime != null">
        #{remindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="done != null">
        #{done,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="saleId != null">
        #{saleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaishengit.crm.example.TaskExample" resultType="java.lang.Long">
    select count(*) from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.finishTime != null">
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remindTime != null">
        remind_time = #{record.remindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.done != null">
        done = #{record.done,jdbcType=INTEGER},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.custId != null">
        cust_id = #{record.custId,jdbcType=INTEGER},
      </if>
      <if test="record.saleId != null">
        sale_id = #{record.saleId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_task
    set id = #{record.id,jdbcType=INTEGER},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      remind_time = #{record.remindTime,jdbcType=TIMESTAMP},
      done = #{record.done,jdbcType=INTEGER},
      account_id = #{record.accountId,jdbcType=INTEGER},
      cust_id = #{record.custId,jdbcType=INTEGER},
      sale_id = #{record.saleId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      title = #{record.title,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_task
    set id = #{record.id,jdbcType=INTEGER},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      remind_time = #{record.remindTime,jdbcType=TIMESTAMP},
      done = #{record.done,jdbcType=INTEGER},
      account_id = #{record.accountId,jdbcType=INTEGER},
      cust_id = #{record.custId,jdbcType=INTEGER},
      sale_id = #{record.saleId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaishengit.crm.entity.Task">
    update t_task
    <set>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remindTime != null">
        remind_time = #{remindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="done != null">
        done = #{done,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="saleId != null">
        sale_id = #{saleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kaishengit.crm.entity.Task">
    update t_task
    set finish_time = #{finishTime,jdbcType=TIMESTAMP},
      remind_time = #{remindTime,jdbcType=TIMESTAMP},
      done = #{done,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER},
      cust_id = #{custId,jdbcType=INTEGER},
      sale_id = #{saleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaishengit.crm.entity.Task">
    update t_task
    set finish_time = #{finishTime,jdbcType=TIMESTAMP},
      remind_time = #{remindTime,jdbcType=TIMESTAMP},
      done = #{done,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER},
      cust_id = #{custId,jdbcType=INTEGER},
      sale_id = #{saleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>